.test{                             /* AMA BODY Adding Test  PAGE A   */
    align-items: center;
    background-color:#d6e4ff;
    display: flex; 
    justify-content: center;
    height: 100vh;
  } 
  
  .form {
    background-color:#15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 650px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .s {
    background-color:#6b5b95;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
     
    text-align: center;
    width: 100%;
  }
  
  .exit{
    background-color: #FBBC05;
  
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;

    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  .loginform {
    width: 340px;
    margin: 50px auto;
    margin-bottom: 45px;
    background: #15172b;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
/*
STYLE FOR THE MENU
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
 
.menu {              /* AMA BODY HOME PAGE A */
  font: 100% Roboto, sans-serif;
  background: url(includes/pic.jpg) 20% 20% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
  background-size:cover;
}


nav {
    width: 300px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(24px at 32px 24px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  }
  
  nav:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }
  
  .a1 {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .a1:hover { background: #ffe082; }
  
  a:active { background: #ffca28; }
  
  .navicon {
    padding: 23px 20px;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
  }
  
  .navicon div {
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
  }
  
  .navicon div:before,
  .navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
  }
  
  .navicon div:before { top: -7px; }
  
  .navicon div:after { top: 7px; }
  
  .heading{
      color:white;
  
  
  }
  /*
 Style for see test page 

  */
   .trseetest {
    background-color: #d6e4ff;
    color: navy;
    border: 2px solid white;

   
  }
  
  
    .header{
      background-color: #15172b;
    }
    .th{
      color:navy;
    }   
  